body {
  font-family: sans-serif;
  background: #111;
  color: white;
}

.topnav {
  overflow: hidden;
  background: #333;
  border-radius: 100px;
  height: 50px;
}

.topnavicon {
  height: 50px;
  float: left;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.5s;
  border-radius: 100px;
}

.topnavicon:hover {
  opacity: 75%;
}

.topnavicon:active {
  opacity: 50%;
}

.searchbar {
  border-radius: 15px;
  overflow: hidden;
}

.topnavtitle {
  color: white;
  padding: 16px 16px;
  float: left;
  text-decoration: none;
  text-align: center;
  background: #333;
  border-radius: 100px;
  transition: background 0.5s;
  -webkit-tap-highlight-color: transparent;
}

.topnavtitle:hover {
  background: #555;
}

.topnavtitle:active {
  background: #777;
}

.topnavsearchicon {
  color: white;
  float: right;
  padding: 18px 18px;
  border-radius: 100px;
  -webkit-tap-highlight-color: transparent;
  transition: background 0.5s;
}

.topnavsearchicon:hover {
  background: #555;
}

.topnavsearchicon:active {
  background: #777;
}

.social {
  background: #333;
  text-align: center;
  border-radius: 15px;
}

.youtube {
  border-radius: 15px;
}
