@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  background: #111;
  color: #fff;
  transition: color 0.5s, background 1s, margin-top 0.5s;
}
.topnav {
  overflow: visible;
  background: #333;
  border-radius: 100px;
  height: 50px;
  transition: background 0.5s;
}

.topnav-light {
  background: #ccc !important;
}

.topnavicon {
  height: 50px;
  float: left;
  -webkit-tap-highlight-color: transparent;
  transition: /* opacity 0.5s */ box-shadow 0.5s;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  /*   border: none !important; */
}

/* .topnavicon:active {
  border: none !important;
} */

.button {
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  background: #333;
  border-radius: 100px;
  transition: background 0.5s, box-shadow 0.5s, color 0.5s, border 0.5s,
    transform 0.5s;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  border: none;
  font-size: 1em;
  cursor: pointer;
}
.button:hover {
  background: #555;
  box-shadow: 0px 0px 25px #333;
  transform: scale(1.15);
  z-index: 10;
}
.button:active {
  /*  background: #777; */
  background: #fff;
  color: #000;
  box-shadow: 0px 0px 25px #888;
  /*   border: 5px solid white; */
  transform: scale(0.85);
}

.button-light {
  color: black !important;
  background: #ccc !important;
}
.button-light:hover {
  background: #aaa !important;
  box-shadow: 0px 0px 25px #888 !important;
}
.button-light:active {
  background: #000 !important;
  color: #fff !important;
  box-shadow: 0px 0px 50px #000 !important;
  /*   border: 5px solid black !important; */
}

.topnavtitle {
  float: left;
  position: relative;
  left: 5px;
  height: 100%;
  margin-left: 5px;
}

/* .topnavtitle:active {
  border: none !important;
} */

.container {
  background: #222;
  border-radius: 25px;
  transition: background 0.5s;
}

.container-light {
  background: #ddd !important;
}
