body {
font-family: sans-serif;
background: #111;
color: white;
text-align: center;
}

a {
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  text-align: center;
  background: #333;
  border-radius: 100px;
  transition: background 0.5s;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  background: #555;
}

a:active {
  background: #777;
}
